/Users/philippeostiguy/Desktop/Trading/Programmation_python/genetic_programming/Trading/__pycache__/
/Users/philippeostiguy/Desktop/Trading/Programmation_python/genetic_programming/Trading/data_manip/
